# Scenerio
Mandisa Nkosi is actively pursuing a career in data analysis. 
She has established a relationship with a political party that needs to 
decide how best to invest its available advertising budget. 
Mandisa thinks she can explore potential advertising avenues 
by analysing films that are available on streaming platforms.
The insights gained from the analysis will inform the campaign, 
promotional materials, slogans, and language the political party will use to reach potential voters.

# Objectives

1. Import the CSV files into DataFrames.
2. View the DataFrames.
3. Describe the DataFrames to understand the structures and data types. 
4. Merge the two DataFrames into a single DataFrame.

# 1. Import Pandas

In [1]:
# prepare the work station
# import the necessary library
import pandas as pd

# 2. View the excel file

In [10]:
# Read the file
movies = pd.read_excel('movies_merge.xlsx')
# view the dataframe
print(movies.columns)

Index(['ID', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes', 'Directors',
       'Genres', 'Country', 'Language', 'Runtime'],
      dtype='object')

# 3. View the csv file

In [11]:
# read the second file
ott = pd.read_csv('ott_merge.csv')
# view the dataframe
print(ott.columns)

Index(['ID', 'Netflix', 'Hulu', 'Prime Video', 'Disney+'], dtype='object')

# 4. Validate the DataFrame

In [12]:
print(movies.shape)
movies.head()

(16744, 11)

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime
0,1,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,2,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,3,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,4,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [13]:
print(ott.shape)
ott.head()

(16744, 5)

   ID  Netflix  Hulu  Prime Video  Disney+
0   1        0     0            1        0
1   2        0     1            0        0
2   3        0     0            1        0
3   4        1     0            0        0
4   5        0     0            1        0

# 5. Describe the Dataframe

In [14]:
# Determine the data types
print(movies.dtypes)
print(ott.dtypes)

ID                   int64
Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes    float64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object
ID             int64
Netflix        int64
Hulu           int64
Prime Video    int64
Disney+        int64
dtype: object

# 6. Combine the Dataframe

# a. using merge()

In [16]:
# combine using merge()
movies_ott_combine = pd.merge(movies, ott, how = 'left', on = 'ID')
# View the dataframe
print(movies_ott_combine.shape)
movies_ott_combine.head()

(16744, 15)

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime,Netflix,Hulu,Prime Video,Disney+
0,1,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,0,0,1,0
1,2,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,0,1,0,0
2,3,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0,0,0,1,0
3,4,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0,1,0,0,0
4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0,0,0,1,0

# b. using concat()

In [18]:
# combine using concat
movies_ott_conc = pd.concat([movies, ott], axis = 0)
# view the dataframe
print(movies_ott_conc.shape)
movies_ott_conc.head()

(33488, 15)

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime,Netflix,Hulu,Prime Video,Disney+
0,1,Inception,2010.0,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,NaN,NaN,NaN,NaN
1,2,The Matrix,1999.0,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,NaN,NaN,NaN,NaN
2,3,Avengers: Infinity War,2018.0,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0,NaN,NaN,NaN,NaN
3,4,Back to the Future,1985.0,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0,NaN,NaN,NaN,NaN
4,5,"The Good, the Bad and the Ugly",1966.0,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0,NaN,NaN,NaN,NaN